.popular-greeting {
  font-family: "Comfortaa", cursive;
  color: white;
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  /* background-clip: border-box; */
  -webkit-text-fill-color: transparent;
  background-color: #fff300;
  background-image: linear-gradient(
    90deg,
    #fff300 0%,
    #f7ce68 33%,
    #fbab7e 66%
  );

  text-align: center;
  padding: 25px;
}

.popular-msg {
  font-family: "Comfortaa", cursive;
  color: white;
  font-size: 40px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #ff5acd;
  background-image: linear-gradient(90deg, #ff5acd 0%, #fbda61 100%);

  text-align: center;
  padding: 25px;
}
