.register-box {
  margin: auto;
  /* position: relative; */
  width: 600px;
  padding: 30px;
}

.register-title {
  font-family: "Comfortaa", cursive;
  color: white;
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  /* background-clip: border-box; */
  -webkit-text-fill-color: transparent;
  background-color: #00dbde;
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  text-align: center;
  padding: 40px;
}

.register-prompt {
  font-family: "Comfortaa", cursive;
  color: white;
  font-size: 16px;
  text-align: center;
  /* padding: 15px; */
}

/* .register-background {
  height: 100%;
  width: 100%;
  background-color: black;
} */

label {
  color: white;
}
